@import "modules/variables";
@import "modules/reset";
@import "modules/sizer";

@import "modules/frameBar";
@import "modules/side";
@import "modules/actionGrid";
@import "modules/field";


.main{
  width: 100%;
  max-width: 1400px;
  height: 100vh;
  margin: 0 auto;

  padding-left: 300px;
  padding-top: 21px;
}

section{
  width: 100%;
  max-width: 100%;
  margin: 50px auto;
}

.header{
  margin: 25px auto;
  h2{
    color: $black;
    margin-bottom: 8px;
  }
  p{
    color: $black;
    font-weight: 300;
    margin-bottom: 12px;
  }
}

.status{
  width: 100%;
  max-width: 100%;
  
  display: block;
  .container{
    position: relative;
    margin: 10px;
    background: white;
    box-shadow: 0 2px 15px rgba($color: #000000, $alpha: .1);
    border-radius: 10px;
    height: 100%;
    min-height: 300px;

    p{
      font-size: 16px;
      color: $grey;

      &.infos{
        position: absolute;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
      }
    }
  }
}



  .container{
    position: relative;
    margin: 20px;
    padding: 20px;
    
    border-radius: 10px;
    height: 100%;
    min-height: 300px;
    
    .list{
      li{
        display: flex;
        list-style: none;
        font-size: 14px;
        padding: 15px;
        margin-bottom: 10px;
        background: white;
        color: #45494f;
        box-shadow: 0 2px 3px rgba($color: #000000, $alpha: .05);
        border: 1px solid #f0f0f0;
        border-radius: 5px;
      }
    }
  }

  .noteUser{
    font-size: 14px;
    padding: 15px;
    margin-bottom: 10px;
    background: white;
    color: #45494f;
    box-shadow: 0 2px 3px rgba($color: #000000, $alpha: .05);
    border: 1px solid #f0f0f0;
    border-radius: 5px;
  }

  .icon{
    cursor: pointer;
    height: 14px;
    margin-right: 10px;
  }